<footer class="page-footer deep-orange">
  <div class="container">
    <div class="row">
      <div class="col l8 s12">
        <h5 class="white-text">Premi</h5>
        <p class="grey-text text-lighten-4">
          Didactic project of Software Engineering course held in Università
          degli Studi di Padova during Academic Year 2014-2015.
        </p>
      </div>
      <div class="col l2 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3"
                 href="http://infinitech-unipd.github.io">Website</a></li>
          <li><a class="grey-text text-lighten-3"
                 href="https://github.com/infinitech-unipd/Premi">Source</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Copyright © 2015 InfiniTech
      <a class="grey-text text-lighten-4 right"
         href="http://www.gnu.org/licenses/agpl-3.0.txt">AGPLv3 License</a>
    </div>
  </div>
</footer>
