<div class="container">
  <div data-ng-controller="AuthenticationController">
    <div class="row">
      <div class="card white darken-4 col s12 m8 offset-m2 l6 offset-l3">
        <form name="userForm" data-ng-submit="signup()" novalidate autocomplete="off">
          <div class="card-content grey-text">
            <span class="card-title grey-text">Signup</span>
            <div class="row">
              <div class="input-field col s12">
                <input type="text" required id="firstName" name="firstName" data-ng-model="credentials.firstName">
                <label for="firstName">First Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="text" id="lastName" name="lastName" data-ng-model="credentials.lastName">
                <label for="lastName">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="email" id="email" name="email" data-ng-model="credentials.email">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="text" id="username" name="username" data-ng-model="credentials.username">
                <label for="username">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="password" id="password" name="password" data-ng-model="credentials.password">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="password" id="passwordConfirm" name="passwordConfirm" data-ng-model="credentials.passwordConfirm">
                <label for="passwordConfirm">Password confirm</label>
              </div>
            </div>
          </div>
          <div class="card-action">
              <button type="submit" class="btn btn-primary deep-orange">Sign up</button>&nbsp; or&nbsp;
              <a href="/#!/signin" class="text-deep-orange lighten-1">Sign in</a>
          </div>
        </form>
      </div>
    </div>

    <div id="signupError" class="modal col s10 offset-s1 m8 offset-m2 l6 offset-l3">
      <div class="modal-content">
        <h4>Error</h4>
        <p>{{error}}.</p>
      </div>
      <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-orange btn-flat">Dismiss</a>
      </div>
    </div>
  </div>
</div>
