<div class="container">
  <div data-ng-controller="SettingsController">
    <div class="row">
      <div class="card white darken-4 col s12 m8 offset-m2 l6 offset-l3">
        <form data-ng-submit="changeUserPassword()" autocomplete="off">
          <div class="card-content grey-text">
            <span class="card-title grey-text">Change your password</span>
            <div class="row">
              <div class="input-field col s12">
                <input type="password" id="currentPassword" name="currentPassword" data-ng-model="passwordDetails.currentPassword">
                <label for="currentPassword">Current password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="password" id="newPassword" name="newPassword" data-ng-model="passwordDetails.newPassword">
                <label for="newPassword">New password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="password" id="verifyPassword" name="verifyPassword" data-ng-model="passwordDetails.verifyPassword">
                <label for="verifyPassword">Verify password</label>
              </div>
            </div>
            <div class="card-action">
              <button type="submit" class="btn btn-primary deep-orange">Save password</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="changePasswordSuccess" class="modal col s10 offset-s1 m8 offset-m2 l6 offset-l3">
      <div class="modal-content">
        <h4>Success</h4>
        <p>Password changed successfully.</p>
      </div>
      <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-orange btn-flat">OK</a>
      </div>
    </div>

    <div id="changePasswordError" class="modal col s10 offset-s1 m8 offset-m2 l6 offset-l3">
      <div class="modal-content">
        <h4>Error</h4>
        <p>{{error}}.</p>
      </div>
      <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-orange btn-flat">Dismiss</a>
      </div>
    </div>
  </div>
</div>
