<ul id="resolution" class="dropdown-content">
  <li><a class="deep-orange-text" data-ng-click="setPresentationResolution({width: 4, height: 3})">4:3</a></li>
  <li><a class="deep-orange-text" data-ng-click="setPresentationResolution({width: 16, height: 9})">16:9</a></li>
</ul>

<ul id="background" class="dropdown-content">
  <li class="color-picker-row">
    <ul><img data-ng-click="setBackgroundColor('transparent')" src="modules/editor/img/alpha.svg"></ul>
    <ul><a data-ng-click="setBackgroundColor('#f44336')"><i class="small material-icons red-text">stop</i></a></ul>
    <ul><a data-ng-click="setBackgroundColor('#e91e63')"><i class="small material-icons pink-text">stop</i></a></ul>
    <ul><a data-ng-click="setBackgroundColor('#9c27b0')"><i class="small material-icons purple-text">stop</i></a></ul>
  </li>
  <li class="color-picker-row">
    <ul><a data-ng-click="setBackgroundColor('#673ab7')"><i class="small material-icons deep-purple-text">stop</i></a></ul>
    <ul><a data-ng-click="setBackgroundColor('#3f51b5')"><i class="small material-icons indigo-text">stop</i></a></ul>
    <ul><a data-ng-click="setBackgroundColor('#2196f3')"><i class="small material-icons blue-text">stop</i></a></ul>
    <ul><a data-ng-click="setBackgroundColor('#03a9f4')"><i class="small material-icons light-blue-text">stop</i></a></ul>
  </li>
  <li class="color-picker-row">
    <ul><a data-ng-click="setBackgroundColor('#00bcd4')"><i class="small material-icons cyan-text">stop</i></a></ul>
    <ul><a data-ng-click="setBackgroundColor('#009688')"><i class="small material-icons teal-text">stop</i></a></ul>
    <ul><a data-ng-click="setBackgroundColor('#4caf50')"><i class="small material-icons green-text">stop</i></a></ul>
    <ul><a data-ng-click="setBackgroundColor('#8bc34a')"><i class="small material-icons light-green-text">stop</i></a></ul>
  </li>
  <li class="color-picker-row">
    <ul><a data-ng-click="setBackgroundColor('#cddc39')"><i class="small material-icons lime-text">stop</i></a></ul>
    <ul><a data-ng-click="setBackgroundColor('#ffeb3b')"><i class="small material-icons yellow-text">stop</i></a></ul>
    <ul><a data-ng-click="setBackgroundColor('#ffc107')"><i class="small material-icons amber-text">stop</i></a></ul>
    <ul><a data-ng-click="setBackgroundColor('#ff9800')"><i class="small material-icons orange-text">stop</i></a></ul>
  </li>
  <li class="color-picker-row">
    <ul><a data-ng-click="setBackgroundColor('#ff5722')"><i class="small material-icons deep-orange-text">stop</i></a></ul>
    <ul><a data-ng-click="setBackgroundColor('#795548')"><i class="small material-icons brown-text">stop</i></a></ul>
    <ul><a data-ng-click="setBackgroundColor('#9e9e9e')"><i class="small material-icons grey-text">stop</i></a></ul>
    <ul><img data-ng-click="setBackgroundColor('white')" src="modules/editor/img/white.svg"></ul>
  </li>
  <li class="color-picker-row">
    <ul><a data-ng-click="setBackgroundColor('black')"><i class="small material-icons black-text">stop</i></a></ul>
  </li>
</ul>

<ul id="object-colors" class="dropdown-content">
  <li class="color-picker-row">
    <ul><a data-ng-click="setColor('#f44336')"><i class="small material-icons red-text">stop</i></a></ul>
    <ul><a data-ng-click="setColor('#e91e63')"><i class="small material-icons pink-text">stop</i></a></ul>
    <ul><a data-ng-click="setColor('#9c27b0')"><i class="small material-icons purple-text">stop</i></a></ul>
    <ul><a data-ng-click="setColor('#673ab7')"><i class="small material-icons deep-purple-text">stop</i></a></ul>
  </li>
  <li class="color-picker-row">
    <ul><a data-ng-click="setColor('#3f51b5')"><i class="small material-icons indigo-text">stop</i></a></ul>
    <ul><a data-ng-click="setColor('#2196f3')"><i class="small material-icons blue-text">stop</i></a></ul>
    <ul><a data-ng-click="setColor('#03a9f4')"><i class="small material-icons light-blue-text">stop</i></a></ul>
    <ul><a data-ng-click="setColor('#00bcd4')"><i class="small material-icons cyan-text">stop</i></a></ul>
  </li>
  <li class="color-picker-row">
    <ul><a data-ng-click="setColor('#009688')"><i class="small material-icons teal-text">stop</i></a></ul>
    <ul><a data-ng-click="setColor('#4caf50')"><i class="small material-icons green-text">stop</i></a></ul>
    <ul><a data-ng-click="setColor('#8bc34a')"><i class="small material-icons light-green-text">stop</i></a></ul>
    <ul><a data-ng-click="setColor('#cddc39')"><i class="small material-icons lime-text">stop</i></a></ul>
  </li>
  <li class="color-picker-row">
    <ul><a data-ng-click="setColor('#ffeb3b')"><i class="small material-icons yellow-text">stop</i></a></ul>
    <ul><a data-ng-click="setColor('#ffc107')"><i class="small material-icons amber-text">stop</i></a></ul>
    <ul><a data-ng-click="setColor('#ff9800')"><i class="small material-icons orange-text">stop</i></a></ul>
    <ul><a data-ng-click="setColor('#ff5722')"><i class="small material-icons deep-orange-text">stop</i></a></ul>
  </li>
  <li class="color-picker-row">
    <ul><a data-ng-click="setColor('#795548')"><i class="small material-icons brown-text">stop</i></a></ul>
    <ul><a data-ng-click="setColor('#9e9e9e')"><i class="small material-icons grey-text">stop</i></a></ul>
    <ul><img data-ng-click="setColor('white')" src="modules/editor/img/white.svg"></ul>
    <ul><a data-ng-click="setColor('black')"><i class="small material-icons black-text">stop</i></a></ul>
  </li>
</ul>

<ul id="fonts" class="dropdown-content">
  <li><a class="deep-orange-text" data-ng-click="setFontFamily('Amaranth')" style="font-family: Amaranth">Amaranth</a></li>
  <li><a class="deep-orange-text" data-ng-click="setFontFamily('Arial')" style="font-family: Arial">Arial</a></li>
  <li><a class="deep-orange-text" data-ng-click="setFontFamily('Josefin Sans')" style="font-family: Josefin Sans">Josefin Sans</a></li>
  <li><a class="deep-orange-text" data-ng-click="setFontFamily('Roboto')" style="font-family: Roboto">Roboto</a></li>
  <li><a class="deep-orange-text" data-ng-click="setFontFamily('Times New Roman')" style="font-family: Times New Roman">Times New Roman</a></li>
  <li><a class="deep-orange-text" data-ng-click="setFontFamily('Ubuntu Mono')" style="font-family: Ubuntu Mono">Ubuntu Mono</a></li>
</ul>

<div class="row deep-orange valign-wrapper presentation-title">
  <a class="white-text brand-logo" data-ng-click="modal('Update')">{{presentation.info.title}}</a>
</div>

<div class="row deep-orange valign-wrapper menubar">
  <div class="valign-wrapper">
    <a data-activates="slide-out2" class="button-collapse white-text btn-flat hide-on-large-only"><i class="mdi-navigation-menu"></i></a>
    <a title="Home" class="waves-effect waves-light btn-flat valign" href="/#!/" ><i class="white-text material-icons">home</i></a>
    <a title="Export" class="waves-effect waves-light btn-flat valign" data-ng-click="print()"><i class="white-text material-icons">print</i></a>
    <a title="Save" class="waves-effect waves-light btn-flat valign" data-ng-click="save()"><i class="white-text material-icons">save</i></a>
    <a title="Play" class="waves-effect waves-light btn-flat valign" data-ng-click="play()"><i class="white-text material-icons">play_arrow</i></a>
    <a title="Overview" class="waves-effect waves-light btn-flat valign" data-ng-click="overview()"><i class="white-text material-icons">dashboard</i></a>
    <a title="Resolution" class="dropdown-button waves-effect waves-light white-text btn-flat" data-activates="resolution"><i class="white-text material-icons">aspect_ratio</i></a>
  </div>
  <div class="valign-wrapper actionButton">
    <a title="Format slide color" ng-class="canvas ? 'waves-effect waves-light dropdown-button btn-flat white-text' : 'disabled btn-flat grey-text text-lighten-1'" data-activates='background'><i class="material-icons">format_color_fill</i></a>
    <a ng-class="canvas.getActiveObject() && objectType('i-text') ? 'dropdown-button waves-effect waves-light white-text btn-flat' : 'dropdown-button btn-flat valign disabled disabled'" data-activates='fonts'>Fonts</a>
    <a title="Format object color" ng-class="canvas.getActiveObject() ? 'dropdown-button btn-flat valign white-text waves-effect waves-light' : 'dropdown-button btn-flat valign disabled grey-text text-lighten-1'" data-activates='object-colors'><i class="material-icons">format_color_text</i></a>
    <a title="Format align left" ng-class="canvas.getActiveObject() && objectType('i-text') ? 'waves-effect waves-light btn-flat valign white-text' : 'disabled btn-flat valign grey-text text-lighten-1'" ng-click="setTextAlign('left')"><i class="material-icons" >format_align_left</i></a>
    <a title="Format align center" ng-class="canvas.getActiveObject() && objectType('i-text') ? 'btn-flat valign white-text waves-effect waves-light' : 'disabled btn-flat valign grey-text text-lighten-1'" ng-click="setTextAlign('center')"><i class="material-icons" >format_align_center</i></a>
    <a title="Format align right" ng-class="canvas.getActiveObject() && objectType('i-text') ? 'btn-flat valign white-text waves-effect waves-light' : 'disabled btn-flat valign grey-text text-lighten-1'" ng-click="setTextAlign('right')"><i class="material-icons" >format_align_right</i></a>
    <a title="Format clear" ng-class="canvas.getActiveObject() && objectType('i-text') ? 'btn-flat valign white-text waves-effect waves-light' : 'disabled btn-flat valign grey-text text-lighten-1'" ng-click="setFontStyle('normal'); setFontWeight('')"><i class="material-icons" >format_clear</i></a>
    <a title="Format bold" ng-class="canvas.getActiveObject() && objectType('i-text') ? 'btn-flat valign white-text waves-effect waves-light' : 'disabled btn-flat valign grey-text text-lighten-1'" ng-click="setFontWeight('Bold')"><i class="material-icons" >format_bold</i></a>
    <a title="Format italic" ng-class="canvas.getActiveObject() && objectType('i-text') ? 'btn-flat valign white-text waves-effect waves-light' : 'disabled btn-flat valign grey-text text-lighten-1'" ng-click="setFontStyle('Italic')"><i class="material-icons" >format_italic</i></a>
    <a title="Delete" ng-class="canvas.getActiveObject() ? 'btn-flat valign white-text waves-effect waves-light' : 'disabled btn-flat valign grey-text text-lighten-1'" ng-click="removeObject()"><i class="material-icons" >delete</i></a>
  </div>
</div>

<div class="row">
  <div id="modalUpdate" class="modal col s10 offset-s1 m8 offset-m2 l6 offset-l3">
    <div class="modal-content">
      <h4 class="grey-text text-darken-3">Update title and description</h4>
      <div class="row">
        <div class="input-field col s12">
          <input id="updatedInfoTitle" data-ng-model="updateInfo.title"
                 type="text" class="validate" length="40">
          <label class="active" data-error="The title should be shorter"
                 for="updatedInfoTitle">New title</label>
        </div>
        <div class="input-field col s12">
          <input id="updatedInfoDescription" data-ng-model="updates.info.description"
                 type="text" class="validate" length="240">
          <label class="active" data-error="The description is too long"
                 for="updatedInfoDescription">New description</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-orange btn-flat" data-ng-click="update()">Update</a>
      <a class="waves-effect modal-close waves-light btn-flat">Cancel</a>
    </div>
  </div>
</div>

